@{
    ViewBag.Title = "Contact";
}

<h2>Please Hire Me im desperate!</h2>

<address>
    10341 West Girton Dr Unit 203<br />
    Lakewood, CO 80227<br />
    Phone:
    303-895-1536
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:shreder108@gmail.com">shreder108@gmail.com</a><br />
    
</address>
<p>I also do birthday parties</p>