@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 class="text-right">Alex Bainter</h1>
    <p>
        <q class="text-center">
            The computer programmer is a creator of universes for which he alone is the lawgiver.
            No playwright, no stage director, no emperor, however powerful, has ever exercised such absolute authority to arrange a stage or
            field of battle and to command such unswervingly dutiful actors or troops.
        </q>
    </p>
    <p class="text-right">-Joseph Weizenbaum</p>
</div>
<hr />
<div>
    <div class="container bg-dark text-light">
        <div class="row align-content-center">
            <div class="col">
                <br />
                <img src="~/Content/images/github.png" alt="something went wrong..." class="img-thumbnail bg-transparent border-0 ml-auto mr-auto" />
            </div>
            <div class="col">
                <br />
                <br />
                <br />
                <br />
                I am a software developer. I am a graduate of The Tech Academy's Software Developement boot camp, and trained and experienced in the
                following web and programming languages: HTML, CSS,
                <a href="https://github.com/blindsniper94/Basic-JavaScript-Projects">JavaScript</a>,
                <a href="https://github.com/blindsniper94/BasicDatabaseAndSQL">SQL</a>,
                <a href="https://github.com/blindsniper94/Basic-Python">Python,</a>,
                <a href="https://github.com/blindsniper94/Csharp-Basic">C#</a>,
                and more. I look forward to working with you on your projects! Please contact me below.
            </div>
            <div class="w-100"></div><br /><br />
            <div class="col">
                <div>
                    <h2 class="text-center">Contact:</h2>
                </div>
                <div class="text-center">
                    <address>
                        10341 West Girton Dr Unit 203<br />
                        Lakewood, CO 80227<br />
                       
                    </address>
                    <address>
                        <strong>Phone:</strong> 303-895-1536
                    </address>
                    <address>
                        <strong>Email:</strong><a href="mailto:abainter94@gmail.com"> abainter94@gmail.com</a><br />
                    </address>
                    <strong>Github:</strong> <a href="https://github.com/blindsniper94">https://github.com/blindsniper94</a><br /><br />
                </div>
            </div>
            @*<div class="col">
                <img src="~/Content/images/computerbits.jpg" style="filter:invert(100%)" class="img-thumbnail bg-transparent border-0" />
            </div>*@
        </div>
    </div>
</div>
